@import './../../styles/variables.scss';

.container{
    background: $light;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}

.locations {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        
    }
}